BODY {
  margin: 0;
}
header {
  background-color: #264653;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: 0 0 100px #6f7364;
}

.hero-name {
  text-align: left;
  color: antiquewhite;
  text-shadow: 2px 2px #1c1d1c;
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 30px;
}


body {
  background-color: white;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  font-size: 20px;
}

.linklist ul li {
  margin-left: 40px;
}

footer {

  text-align: center;
  color: antiquewhite;
  font-size: 20px;
  padding: 30px;
  background-color: #264653;
  border-radius: 0px;
  box-shadow: 0 0 100px #6f7364;
}

footer h2 {
  font-size: 20px;
}

:root {
  --back: #264653;
  --back2: #7aa0af;
  --foredark: hsla(0, 0%, 10%, 1);
  --forelight: hsla(0, 0%, 100%, 1);
  --border: hsl(0, 0%, 20%);
  --borderlight: hsl(0, 0%, 33%);
  --shadow: hsl(0, 0%, 50%);
  --zebra:#cecece;
}

table {
  margin: 77px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 30px var(--shadow);
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--back);
  font-size: 0.85rem;
}

tr:first-child th,
.highlight {
  background-color: var(--back);
  color: var(--forelight);
}

th,
td {
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

th {
  background-color: var(--back2);
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}
