/** Media Queries for small views **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: #90a955;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header,
nav,
main,
footer {
  margin: 0 auto;
}
.logo-image-header {
  width: 80px;
}

.logo-image {
  width: 150px;
}

h1 {
  font-size: 2rem;
  font-family: "Faustina", serif, "Arial", sans-serif;
  color: #132a13;
  text-align: center;
}
h2 {
  padding: 0.5rem;
  color: #31572c;
  font-family: "Faustina", serif, "Arial", sans-serif;
}

p {
  padding: 0.8rem;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  font-size: 18px;
}

nav {
  background-color: #31572c;
  text-align: center;
  box-shadow: 0 0 30px rgb(26, 26, 26);
}

nav {
  display: flex;
  flex-direction: column;
}

nav div {
  flex: 1 1 auto;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Faustina", serif, "Arial", sans-serif;
}

nav a:hover {
  background-color: #132a13;
  color: #ecf39e;
}

main {
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}

main .content {
  margin: 1rem;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #eee;
  text-align: center;
}

footer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  font-weight: 700;
}
footer {
  text-align: center;
  color: #132a13;
  font-size: 20px;
  padding: 30px;
  background-color: #90a955;
  box-shadow: 0 0 100px #6f7364;
}

footer h2 {
  font-size: 20px;
}
ul li {
  list-style-type: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}

th {
  border: 1px solid #bbb;
  padding: 10px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}

.primary {
  background-color: #132a13;
  padding: 10px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  color: #fff;
}
.secondary {
  background-color: #90a955;
  padding: 10px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}
.accent1 {
  background-color: #31572c;
  padding: 10px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  color: #fff;
}
.accent2 {
  background-color: #bbb;
  padding: 10px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}
table{
	align-self: center;
}