body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif, 'Arial', sans-serif, 'Verdana', sans-serif, 'Helvetica', sans-serif;
    color: aliceblue;
  }
  
  header,
  main,
  footer {
    margin: 1rem;
    position: relative;
  }
  
  h1 {
    color: #264653;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Faustina', serif, 'Arial', sans-serif;
  }
  
  p {
    margin: 5px;
  }
  
  main {
    margin-left: 2rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #1f3842;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  section > p {
    min-height: 60px;
  }
  
  img {
    width: auto;
    max-width: 250px;
    box-shadow: 0 0 10px antiquewhite;
    height: 200px;
    margin-bottom: 25px;
  }
  
  

  footer {
    text-align: center;
    border-top: 1px solid #555;
    padding: 20px;
    color: black;
    font-family: 'Faustina', serif, 'Arial', sans-serif;
  }
  