body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #90a955;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo img {
  width: 40px;
  height: auto;
}
.social img {
  width: 20px;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 18px;
  font-family: "Faustina", serif, "Arial", sans-serif;
  color: #132a13;
  text-align: center;
}

.m {
  letter-spacing: 1pt;
  color: forestgreen;
  font-weight: 700;
  font-size: 0.8rem;
}

.social {
  margin-right: 1.5rem;
}

.social svg {
  width: 25px;
  height: auto;
}
.banner {
  background-color: #132a13;
  padding: 10px;

  display: none;
}
.banner h1 {
  font-family: "Faustina", serif, "Arial", sans-serif;
  color: antiquewhite;
  text-align: center;
}
header figure.logo {
  float: left;
  margin: 0 2% 0 0;
}

/* Menu */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/* html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

h1,
p {
  margin: 0 2vw;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 25px;
  color: #555;
}

nav {
  background-color: #90a955;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  font-family: "Faustina", serif, "Arial", sans-serif;
  margin: 8px;
  font-size: 15px;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(242, 242, 242);
}
nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* Date */

.date {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  background-color: #90a955;
  font-family: "Faustina", serif, "Arial", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 8px 10px -6px black;
}

/* Body */

.content {
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  color: #132a13;
}
p {
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}
.weather,
.event {
  display: block;
}
.content div {
  margin: 20px;
  padding: 50px;
  background-color: #90a955;
}
.spotlight div {
  background-color: #90a955;
  color: antiquewhite;
  padding: 10px;
  align-items: center;
}
div .spotlight {
  padding: 10px;
}
div .hero {
  padding: 10px;
}
div .news {
  padding: 10px;
}
div .event {
  padding: 10px;
}
.hero,
.weather,
.spotlight,
.news,
.join,
.event h1 {
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.hero,
.news,
.event,
.join h1 {
  text-align: center;
}
.hero-image {
  width: 80%;
  justify-self: center;
  display: flex;
  padding-bottom: 10px;
}
div .weather {
  padding: 10px;
}
/* .weather-image{
  width: 90%;
  align-self: center;
} */
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}
input[type="submit"] {
  background-color: #132a13;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  border-radius: 10px;
}
input[type="submit"]:hover {
  background-color: #555;
}
.transport-image,
.business-image,
.sustainable-image {
  width: 90%;
  align-self: center;
  border: 10px solid #132a13;
}
.join a {
  background-color: #132a13;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: antiquewhite;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  padding: 0.75rem 1.5rem;
  max-width: 20rem;
  align-self: center;
}
.join a:hover {
  background-color: #555;
}
.join li {
  text-align: center;
  padding: 20px;
}
ul li {
  list-style-type: none;
  text-align: center;
}
main figure.myphoto {
  width: 100%;
  margin: 0 0 0 2%;
  float: right;
}
main figure.myphoto img {
  width: 100%;
}
main figure.myphoto figcaption {
  text-align: center;
  font-size: 0.75rem;
}
picture img {
  width: 50%;
  align-self: center;
  border: 10px solid #132a13;
}
.weather-img img {
  border: none;
  width: 25%;
}
.celsius {
  font-size: 25px;
}
.hero picture img {
  width: 90%;
}

/* Discover */

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
caption {
  display: flex;
}
#lastVisit {
  font-size: 20px;
  margin: 40px;
}
.hero h1 {
  font-size: 30px;
}

/* Thank you */

.thanks,
p {
  text-align: center;
}
.thanks {
  margin: 20px;
  margin-bottom: 300px;
}

/* Join */

/* .main-grid-join {
  display: grid;
  grid-column: auto auto;
  grid-row: auto;
} */

form {
  margin: 50px;
  padding: 30px;
  max-width: 100%;
  background-color: #90a955;
}

form label.application,
form div {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  padding-top: 1.8rem;
  color: black;
  font-size: 15px;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}

.open-weather

form label.application input,
form label.application select {
  display: block;
  font-size: 1rem;
  border: solid 1px #132a13;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 85%;
  max-width: 15rem;
  background-color: whitesmoke;
}

form input.submit {
  margin-bottom: 50px;
  border: none;
  padding: 0.75rem 1.5rem;
  max-width: 20rem;
}

form label.applicationRadio {
  display: block;
  padding: 0.75rem 0;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  font-size: 15px;
}

form label.application,
textarea::placeholder {
  display: block;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}

form label.application,
textarea {
  display: block;
  padding: 0.75rem 0;
}

textarea,
input {
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  padding: 0.75rem 1.5rem;
}

form label.application input:required {
  border-left: rgb(163, 2, 2) solid 6px;
}

form label.application input:valid {
  border-left: rgb(1, 104, 1) solid 6px;
}

/* .membership {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
} */

.membership h1 {
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #132a13;
  padding-top: 40px;
  padding-bottom: 20px;
}
.membership-paragraph {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* Directory */

.directory {
  margin: 0 auto;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}

.directory h1 {
  text-align: center;
  color: #132a13;
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 40px;
}

.menu {
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: #90a955;
  text-align: center;
}

.menu button {
  padding: 1.3rem;
  align-items: center;
  background-color: #132a13;
  border: none;
  border-radius: 10px;
  color: antiquewhite;
  text-align: center;
  margin: 10px;
}

.menu button:hover {
  background-color: #555;
}

article,
section {
  margin: 0.75rem;
}

.directory section {
  border: 3px solid #132a13;
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.grid section {
  flex-direction: column;
  text-align: center;
}

.list section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.list section > * {
  margin: 0 1rem;
  text-align: left;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section {
  display: inline-block; /* smaller viewports only */
}
.grid section {
  height: 400px;
  box-shadow: 0 1.5em 2.5em -1em;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

section h2 {
  font-size: 1.5rem;
}

section a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.9rem;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: #132a13;
  padding: 5px;
}
section a:visited {
  color: #333;
}
.grid section a {
  display: inline-block;
}

.directory img {
  max-width: 100%;
}

/* Contact Us */

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 15px;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #90a955;
}

.contact-us h1 {
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #132a13;
  padding-top: 40px;
  padding-bottom: 10px;
}
.contact-us p {
  text-align: left;
}
.contact-us-paragraph {
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact-us {
  height: fit-content;
}
.contact-us li {
  text-align: center;
  padding: 20px;
}
.contact-us a {
  background-color: #132a13;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: antiquewhite;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  padding: 0.75rem 1.5rem;
  max-width: 20rem;
  align-self: center;
}
.contact-us a:hover {
  background-color: #555;
}

/* Footer */

footer {
  background-color: #90a955;
  color: #132a13;
  text-align: center;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  padding: 10px;
  box-shadow: 0 -8px 10px -6px black;
}

.container-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-footer div {
  display: flex;
  flex-direction: column;
}

.content-footer h2 {
  text-align: center;
  font-family: "Faustina", serif, "Arial", sans-serif;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content-footer p {
  margin: 0;
  text-align: center;
}

.content-footer img {
  width: 100px;
}

.container-footer {
  margin-top: 1em;
}
.container-footer a {
  text-decoration: none;
}
.open-weather {
  color: #132a13;
}
.open-weather:hover {
  text-decoration: underline;
}
