body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #90a955;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo img {
  width: 40px;
  height: auto;
}
.social img {
  width: 20px;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 18px;
  font-family: "Faustina", serif, "Arial", sans-serif;
  color: #132a13;
  text-align: center;
}

.m {
  letter-spacing: 1pt;
  color: forestgreen;
  font-weight: 700;
  font-size: 0.8rem;
}

.social {
  margin-right: 1.5rem;
}

.social svg {
  width: 25px;
  height: auto;
}
.banner{
  background-color: #132a13;
  padding: 10px;

  display: none;
}
.banner h1{
  font-family: "Faustina", serif, "Arial", sans-serif;
  color: antiquewhite;
  text-align: center;
}
header figure.logo{
  float: left;
  margin: 0 2% 0 0;
}

/* Menu */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/* html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

h1,
p {
  margin: 0 2vw;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 25px;
  color: #555;
}

nav {
  background-color: #90a955;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  font-family: "Faustina", serif, "Arial", sans-serif;
  margin: 8px;
  font-size: 15px;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(242, 242, 242);
}
nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* Date */

.date {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  background-color: #90a955;
  font-family: "Faustina", serif, "Arial", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display:block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 8px 10px -6px black;

}

/* Body */

.content {
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  color: #132a13;
}
p{
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
}
.weather,
.event {
  display: block;
}
.content div {
  margin: 20px;
  padding: 50px;
  background-color: #90a955;
}
.spotlight div {
  background-color: #90a955;
  color: antiquewhite;
  padding: 10px;
  align-items: center;
}
div .spotlight{
  padding: 10px;
}
div .hero{
  padding: 10px;
}
div .news{
  padding: 10px;
}
div .event{
  padding: 10px;
}
.hero, .weather, .spotlight, .news, .event h1{
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.hero, .news, .event, .join p{
  text-align: center;
}
.hero-image{
  width: 80%;
  justify-self: center;
  display: flex;
  padding-bottom: 10px;
}
div .weather{
  padding: 10px;
}
/* .weather-image{
  width: 90%;
  align-self: center;
} */
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, 'Arial', sans-serif, 'Verdana', sans-serif, 'Helvetica', sans-serif;
}
input[type=submit] {
background-color: #132a13;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 20px 2px;
cursor: pointer;
font-family: 'Roboto', sans-serif, 'Arial', sans-serif, 'Verdana', sans-serif, 'Helvetica', sans-serif;
border-radius: 10px;
}
input[type=submit]:hover {
  background-color:#555;
}
.transport-image,.business-image, .sustainable-image{
  width: 90%;
  align-self: center;
  border: 10px solid #132a13;
}
.join a{
  background-color: #132a13;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: antiquewhite;
  display: block;
  text-align: center;
  font-size: 20px;
}
.join a:hover{
  background-color: #555;
}
ul li {
  list-style-type: none;
}
main figure.myphoto{
  width: 100%;
  margin: 0 0 0 2%;
  float: right;
}
main figure.myphoto img{
  width: 100%;
}
main figure.myphoto figcaption{
  text-align: center;
  font-size: .75rem;
}
picture img{
  width: 50%;
  align-self: center;
  border: 10px solid #132a13;
}


/* Footer */

footer {
  background-color: #90a955;
  color: #132a13;
  text-align: center;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  padding: 10px;
  box-shadow: 0 -8px 10px -6px black;
}

.container-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-footer div {
  display: flex;
  flex-direction: column;
}

.content-footer h2 {
  text-align: center;
  font-family: "Faustina", serif, "Arial", sans-serif;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content-footer p {
  margin: 0;
  text-align: center;
}

.content-footer img {
  width: 100px;
}

.container-footer {
  margin-top: 1em;
}
