@media only screen and (min-width: 64rem) {
  header {
    padding: 40px;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }
  .container-footer {
    margin: 0 2em;
  }

  .content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .event {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .weather {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .join {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .hero {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .news {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .spotlight {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }
  .logo img {
    width: 80px;
    height: auto;
  }
  .headings h1 {
    font-size: 35px;
  }
  nav ul li a {
    font-size: 20px;
  }
  .social img {
    width: 40px;
  }
 
  .hero h1{
    font-size: 30px;

  }
  .weather h1{
    font-size: 30px;

  }
  .spotlight h1{
    font-size: 30px;
  }
  .news h1{
    font-size: 30px;
  }
  .event h1{
    font-size: 30px;
  }
  .join h1{
    font-size: 30px;
  }
  .hero-image{
    width: 100%;
  }
  .weather-img img{
    width: 30%;
  }
  .celsius{
   font-size: 30px;
  }

  /* Join */

  /* .discover-pic {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  } */

  .main-grid-join {
    display: grid;
    /* grid-column: fr fr;
    grid-row: fr; */
  }
  .membership {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
form label.application input,
form label.application select {
  max-width: 35rem; 
}

form label.application,
form div {
  font-size: 18px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form label.applicationRadio {
  font-size: 18px;
}

/* .main-grid-join {
  display: block;
} */

}
